{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Director</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="{% static 'letters/director.css' %}">
  <link rel="icon" href="{% static 'letters/favicon.png' %}">
</head>

<body>

  <div class="jumbotron">
    <img src="{% static 'letters/directorsirtopbanner.png' %}">
  </div>
  <div class="container">
    <p>
      Dear Student,<br>
      Your scholastic and characteristic achievements in your school and community reflect upon what we value
      and acclaim our students for. These attainments and milestones that you have procured, also justify our
      expectations from you. The perseverance and diligence you have put in and the endurance you have displayed
      in the most significant years of your life is highly commendable. The mundane and toilsome journey of competing
      in national level entrance tests by overpowering your competitors has successfully wrapped up. All your efforts
      and drudgery are rewarded as you have completed the counselling schedule and ultimately secured a seat at one
      of the top-tier institutes in India, Thapar Institute of Engineering and Technology.
      You need to take a giant leap from strictly bound school life to a professional institute providing you the
      education
      and exposure that you’ll need for your career ahead. Online education has brought a new turn in the system and the
      institute is all prepared to face the situation by introducing the Thapar-LMS. This is your foremost home-away
      journey
      so put your best foot forward, take chances and take hold of the steering wheel.
      I wish you abundant success for both academics and your future ventures at this university. I hope destiny has
      great
      rewards written in your name and I’m optimistic that you will nail your colours to the mast, bringing great
      laurels
      to the institution.<br>
      Set your aims high and count on yourselves. Never forget that what seems to us as bitter trials are often
      blessings
      in disguise. Trust in your gut and believe that you’re competent enough of achieving anything and everything you
      yearn
      for. Lastly, always remember to keep your eyes on the stars and feet on the ground to make this an indelible
      venture.<br><br>

      Welcome to Thapar Institute of Engineering and Technology!<br><br>

      Dr.Prakash Gopalan<br>
      Director,TIET

    </p>
  </div>

</body>

</html>