{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>DOSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'landingPage/indexPage/assets/dosa.css' %}">
</head>

<body>
    <div class="jumbotron">
    </div>
    <img src="http://thapar.edu/webroot/files/faculty/255/1505835668255.jpg">
    <div class="container">
        <p>
            Dear student,<br> Thapar Institute of Engineering and Technology, welcomes you to a new chapter of your life. <br> Congratulations on making it to TIET, one of the finest engineering colleges in India. A proverb <br> states that “a journey
            of thousand miles begins with the first step”. Your years of hardwork and <br> perseverance paid off, as you have taken the first step in TIET - and at TIET, you will not be alone<br> on your journey.<br> The faculty at TIET will not only
            help develop your skills in particular fields of engineering but also <br> help you through any difficulties you may encounter in your life.<br> Our academic programs provide opportunities for students to explore their interests, to discover
            their passion,<br> and to fall in love with learning.<br> The teaching methods are constantly evolving according to the need of the hour. Hence, even in this pandemic, <br> the academics at TIET haven’t been affected. For the same, we have
            built an easy interface between the students <br> and the teachers, that is, TIET Learning Management System.<br> Spread across 250 acres of land, TIET provides you with all the resources you need to explore yourself. The <br> facilities include,
            well equipped laboratories, multiple sports facilities, library with over thousands of <br> books to aid our students and many more.<br> Henceforth, make out the best of these resources and come out with flying colours becoming a better version
            of <br> yourself. With over 50 societies, specialised in various skills, you can find your interests and pursue them. <br> Despite the technical knowledge, you will also learn things that will boost your personality.<br> TIET’s faculty and
            I stand by to support and challenge you as you take full advantage of the extraordinary <br> opportunities. I wish you luck and happiness for your journey with us.<br>

            <br> Dr. Inderveer Chana<br> Dean of Student affairs<br>


        </p>
    </div>

</body>

</html>