{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dean</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'letters/director.css' %}">
  <link rel="icon" href="{% static 'letters/favicon.png' %}">
</head>
<body>
<div class="jumbotron">
  <img src="{% static 'letters/indrveer.png' %}">
</div>

<div class="container">
    <p>
        Dear student,<br>
        Thapar Institute of Engineering and Technology, welcomes you to a new chapter of your life. 
        Congratulations on making it to TIET, one of the finest engineering colleges in India. A proverb 
        states that “a journey of thousand miles begins with the first step”. Your years of hardwork and 
        perseverance paid off, as you have taken the first step in TIET - and at TIET, you will not be alone
        on your journey.<br>
        The faculty at TIET will not only help develop your skills in particular fields of engineering but also 
        help you through any difficulties you may encounter in your life.
        Our academic programs provide opportunities for students to explore their interests, to discover their passion, 
        and to fall in love with learning.
        The teaching methods are constantly evolving according to the need of the hour. Hence, even in this pandemic, 
        the academics at TIET haven’t been affected. For the same, we have built an easy interface between the students 
        and the teachers, that is, TIET Learning Management System.
        Spread across 250 acres of land, TIET provides you with all the resources you need to explore yourself. The 
        facilities include, well equipped laboratories, multiple sports facilities, library with over thousands of 
        books to aid our students and many more.<br>
        Henceforth, make out the best of these resources and come out with flying colours becoming a better version of 
        yourself. With over 50 societies, specialised in various skills, you can find your interests and pursue them.
        Despite the technical knowledge, you will also learn things that will boost your personality.<br><br>
        TIET’s faculty and <br>I stand by to support and challenge you as you take full advantage of the extraordinary 
        opportunities. <br><br>I wish you luck and happiness for your journey with us.<br>
 
        <br>
        Dr. Inderveer Chana<br>
        Dean of Student Affairs<br>

   
    </p>
</div>

</body>
</html>