<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard - {{ title }}</title>
</head>
<body>
    <table style="border: 1px solid black;" border="1">
    
    <tr>
    
    <th>Rank</th>
    <th>Name</th>
    <th>Score</th>
    
    </tr>
    

    {% for user in ranks %} 
    
    <tr>

    <td> {{ forloop.counter }} </td>
    <td> {{ user.user.username }} </td>
    <td> {{ user.score }} </td>

    {% endfor %}
        </table>
</body>
</html>